$orange: #E0750F;

@keyframes flicker{
  0%   {transform: rotate(-0.1deg);}
  20%  {transform: rotate(0.1deg);}
  40%  {transform: rotate(-0.1deg);}
  60%  {transform: rotate(0.1deg) scaleY(1.00);}
  80%  {transform: rotate(-0.1deg) scaleY(1.01);}
  100% {transform: rotate(0.1deg);}
}


@-webkit-keyframes spinning-body {
  0% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
  }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
  }
  65% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
  }
  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
  }
}
@keyframes spinning-body {
  0% {
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
  }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
  }
  65% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;

  }
  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveBB8 {
    0%   {left: 0px;}
    50% {left: 65%;}
    65% {left: 70%;}
    100% {left: 0px;}
}

/* Standard syntax */
@keyframes moveBB8 {
    0%   {left: 0px;}
    50% {left: 65%;}
    65% {left: 70%;}
    100% {left: 0px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveLighter {
    0%   {
    	z-index: -1;
	    top: 382px;
	    transform: rotate(0deg);
	    left: 15px;
    }
    50%   {
    	z-index: -1;
	    top: 382px;
	    transform: rotate(0deg);
	    left: 15px;
    }
    60% {
    	z-index: -1;
	    top: 364px;
	    z-index: -1;
	    left: -136px;
	    transform: rotate(40deg);
    }
    65% {
    	z-index: -1;
	    top: 382px;
	    transform: rotate(0deg);
	    left: 15px;
    }
    100% {
    	z-index: -1;
	    top: 382px;
	    transform: rotate(0deg);
	    left: 15px;
    }
}

/* Standard syntax */
@keyframes moveLighter {
    0%   {
    	z-index: -1;
	    top: 382px;
	    transform: rotate(0deg);
	    left: 15px;
    }
    50%   {
    	z-index: -1;
	    top: 382px;
	    transform: rotate(0deg);
	    left: 15px;
    }
    60% {
    	z-index: -1;
	    top: 364px;
	    z-index: -1;
	    left: -136px;
	    transform: rotate(40deg);
    }
    65% {
    	z-index: -1;
	    top: 382px;
	    transform: rotate(0deg);
	    left: 15px;
    }
    100% {
    	z-index: -1;
	    top: 382px;
	    transform: rotate(0deg);
	    left: 15px;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveHead {
    0%   {
	    transform: rotate(0deg);
	    top: 0;
	    left: 0;
    }
    10% {
	    transform: rotate(15deg);
	    top: 10px;
	    left: 60px;
    }
    50% {
    	transform: rotate(0deg);
	    top: 0;
	    left: 0;
    }
    90% {
    	transform: rotate(-15deg);
	    top: 10px;
	    left: -60px;
    }
    100%   {
	    transform: rotate(0deg);
	    top: 0;
	    left: 0;
    }
}

/* Standard syntax */
@keyframes moveHead {
    0%   {
	    transform: rotate(0deg);
	    top: 0;
	    left: 0;
    }
    10% {
	    transform: rotate(15deg);
	    top: 10px;
	    left: 60px;
    }
    50% {
    	transform: rotate(0deg);
	    top: 0;
	    left: 0;
    }
    90% {
    	transform: rotate(-15deg);
	    top: 10px;
	    left: -60px;
    }
    100%   {
	    transform: rotate(0deg);
	    top: 0;
	    left: 0;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveEye {
    0%   {
    	top: 31px;
    	left: 10px;
    }
    10% {
    	top: 20px;
    	left: 30px;
    }
    50% {
		top: 10px;
		left: 15px;
    }
    90% {
    	top: 31px;
    	left: 10px;
    }
}

/* Standard syntax */
@keyframes moveEye {
    0%   {
    	top: 31px;
    	left: 10px;
    }
    10% {
    	top: 20px;
    	left: 30px;
    }
    50% {
		top: 10px;
		left: 15px;
    }
    90% {
    	top: 31px;
    	left: 10px;
    }
}

@keyframes blinking {
    0%   {
    	background-color: black;
    }
    50% {
		background-color: #AFD5F3;
    }
    25% {
    	background-color: #4858E4;
    }
    100% {
		background-color: black;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes blinking {
    0%   {
    	background-color: black;
    }
    50% {
		background-color: #AFD5F3;
    }
    25% {
    	background-color: #4858E4;
    }
    100% {
		background-color: black;
    }
}

@keyframes blinking-boxes{ 
	0% {
		background-color: transparent;
	}
	50% {
		background-color: #8EB1f6;
	}
	100% {
		background-color: transparent;
	}
}
@-webkit-keyframes blinking-boxes{ 
	0% {
		background-color: transparent;
	}
	50% {
		background-color: #8EB1f6;
	}
	100% {
		background-color: transparent;
	}
}


@keyframes blinking-body {
    0%   {
    	background-color: #9FF7Fb;
    }
    50% {
		background-color: #8EB1f6;
    }
    100% {
		background-color: white;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes blinking-body {
    0%   {
    	background-color: #9FF7Fb;
    }
    50% {
		background-color: #8EB1f6;
    }
    100% {
		background-color: white;
    }
}



#container {
	margin-top: 100px;
	position: relative;
	max-width: 400px;
    -webkit-animation: moveBB8 10s infinite; /* Safari 4.0 - 8.0 */
    animation: moveBB8 10s infinite;
	#head-wrap {
		width:220px;
		position: relative;
		z-index: 20;
		text-align: center;
		margin: 0 auto;
		-webkit-box-shadow:  0 8px 19px -13px #333;
	   -moz-box-shadow:  0 8px 19px -13px #333;
	    box-shadow:  0 8px 19px -13px #333;
	    -webkit-animation: moveHead 10s infinite; /* Safari 4.0 - 8.0 */
    	animation: moveHead 10s infinite;
    	#antennae {
    		position:relative;
    		bottom: -5px;
    		.ant-1 {
    			width: 1px;
    			height: 20px;
    			border: 1px solid black;
    			display: inline-block;
    			background: #fff;
    		}
    		.ant-2 {
    			width: 2px;
    			height: 50px;
    			border: 1px solid black;
    			display: inline-block;
    			background: #fff;
    		}
    	}
		#head {
			height: 120px;
		    width: 100%;
		    border-bottom: 8px solid grey;
		    border-radius: 220px 220px 0 0;
			 background:grey;
			 display: block;
			 border: 2px black solid;
			 background: white;
			 overflow: hidden;
			 #head-grey-stripe {
			 	border-top: 1px solid black;
			 	border-bottom: 1px solid black;
			 	background-color: grey;
			 	height: 7px;
			 	margin-top: 10px;
			 }
			 .head-orange-stripe {
			 	border-top: 1px solid black;
			 	border-bottom: 1px solid black;
			 	background-color: $orange;
			 	display: inline-block;
			 	height: 5px;
			 	margin-top: 4px;
			 	width: 100%;
			 	z-index: 5;
    			position: relative;
			 }
			 #first-eye {
			 	z-index: 10;
    			position: relative;
			 	width: 50px;
			    height: 50px;
			    margin: -7px auto;		
			    border-radius: 50%;
			    background-color: black;
			    border: 3px solid #fff;
			    box-shadow: 0 0 0 1px black, 0 0 0 7px white, 0 0 0 7px #333;
			 	#red-dot {
			 		z-index: 15;
    				position: relative;
			 		width: 10px;
			 		height: 10px;
			 		border-radius: 50%;
			 		background: #C71010;
			 		top: 31px;
    				left: 10px;
					-webkit-animation: moveEye 10s infinite; /* Safari 4.0 - 8.0 */
    				animation: moveEye 10s infinite;
			 	}
			 }
			 #second-eye {
			 	z-index: 10;
    			position: relative;
			 	width: 25px;
			    height: 25px;
			    margin: -15px 0 0 145px;
			    border-radius: 50%;
			    background-color: black;
			    border: 3px solid #fff;
			    box-shadow: 0 0 0 3px #333, 0 0 0 7px white, 0 0 0 7px #333;
			 }
			 #blinking-light {
			 	z-index: 10;
			    position: relative;
			    width: 10px;
			    height: 10px;
			    margin: -6px 0 0 100px;
			    border-radius: 50%;
			    background-color: black;
			    border: 2px solid #fff;
			    box-shadow: 0 0 0 1px #333, 0 0 0 1px #333;
			    -webkit-animation: blinking 3s infinite; /* Safari 4.0 - 8.0 */
    			animation: blinking 3s infinite;
			 }
			 #left-orange-boxes {
			 	display: inline-block;
			 	margin: -9px 0 0 0px;
			 	.orange_l {
			 		background: $orange;
			 		display: inline-block;
			 		border-top: 1px solid black;
			 		border-left: 1px solid black;
			 		border-right: 1px solid black;
			 		&.one {
			 			width: 15px;
			 			height: 20px;
			 		}
			 		&.two {
			 			width: 15px;
			 			height: 20px;
			 		}
			 		&.three {
			 			width: 2px;
			 			height: 20px;
			 			margin-left: -2px;
			 		}
			 	}
			 }
			 #right-orange-boxes {
			 	display: inline-block;
			 	margin: -9px 0 0 100px;
			 	.orange_r {
			 		background: $orange;
			 		display: inline-block;
			 		border-top: 1px solid black;
			 		border-left: 1px solid black;
			 		border-right: 1px solid black;
			 		&.one {
			 			height: 8px;
			 			width: 15px;
			 		}
			 		&.two {
			 			width: 15px;
			 			height: 15px;
			 			margin-left: 5px;
			 		}
			 		&.three {
			 			width: 2px;
			 			height: 15px;
			 			margin-left: -2px;
			 		}
			 	}
			 }
			 
		}
		#head-grey {
			height: 5px;
			background: silver;
			width: 100%;
			border-left: 2px black solid;
			border-right: 2px black solid;
		}
		#head-bottom {
			height:18px;
			border: 2px black solid;
			 border-radius: 0 0 35px 35px;
			 -moz-border-radius: 0 0 35px 35px;
			 -webkit-border-radius: 0 0 35px 35px;
			 background: #e1e1e1;
			 width: 100%;
		}
	}
	#lighter {
		position: absolute;
		top: 382px;
	    z-index: -1;
	    left: 10px;
	    transform: rotate(20deg);
	    animation-delay: 2s;
	    -webkit-animation: moveLighter 10s infinite;
    	animation: moveLighter 10s infinite;


		.lighter-bar {
			border: 2px solid black;
			height: 5px;
			width: 175px;
			background: silver;
		}
		.lighter-hinge	{
			width: 10px;
		    height: 7px;
		    top: 7px;
		    border-radius: 50%;
		    background-color: silver;
		    border: 1px solid #555;
		    box-shadow: 0 0 0 1px silver, 0 0 0 3px black;
		    position: relative;
		    top: -10px;
		}
		.lighter-box {
			border: 2px solid black;
			height: 12px;
			width: 7px;
			background-color: silver;
			position: relative;
			top: -35px;
			z-index: -1;
		}
		.flame-wrap {
			transform-origin:center bottom;
			  animation-name: flicker;
			  animation-duration:3ms;
			  animation-delay:200ms;
			  animation-timing-function: ease-in;
			  animation-iteration-count: infinite;
			  animation-direction: alternate;


			.flame {
				bottom:0;
				position:absolute;
				border-bottom-right-radius: 50%;
				border-bottom-left-radius: 50%;
				border-top-left-radius: 50%;
				transform:rotate(-45deg) scale(1.5,1.5);
				position: relative;
			    top: -63px;
			    left: 3px;


				

				&.white {
					width: 3px;
				    height: 4px;
				    background: white;
				    box-shadow: 0px 0px 3px 2px white;
				    top: -66px;
				}
				&.mid-blue{
				  width: 5px;
				    height: 5px;
				    background: #9FF7Fb;
				    box-shadow: 0px 0px 8px 2px #9FF7Fb;
				    top: -64px;
				}
				&.blue{
				  	width: 4px;
				    height: 5px;
				    bottom: -5px;
				    background: #8EB1f6;
				    box-shadow: 0px 0px 3px 6px #8EB1f6;
				}
			}
		}
	}
	#body-wrap {
		margin: -12px 0 0 0;
		height: 400px;
	    width: 400px;
	    border-radius: 50%;
	    border: 2px black solid;
	    overflow: hidden;
	    position: relative;
	    transform: rotate(25deg);
	    background: #fff;

	    // rotate body
    	-webkit-animation: spinning-body 10s linear infinite;
	    -moz-animation: spinning-body 10s linear infinite;
	    -ms-animation: spinning-body 10s linear infinite;
	    -o-animation: spinning-body 10s linear infinite;
	    animation: spinning-body 10s linear infinite;
	    // rotate body  
	    
	    #vertical-line {
	    	border: 1px #C1C1C1 solid;
	    	width: 100%;
	    	position: absolute;
	    	z-index: 5;
	    	height: 1px;
    		margin: 200px auto;
	    }
	    #horizontal-line {
	    	border: 1px #C1C1C1 solid;
	    	width: 100%;
	    	position: absolute;
	    	z-index: 5;
	    	height: 1px;
    		margin: 200px auto;
    		transform: rotate(90deg);
	    }
	    .bolts {
    		    z-index: 20;
			    position: relative;
			    width: 10px;
			    height: 10px;
			    top: 10px;
			    left: 40px;
			    border-radius: 50%;
			    background-color: #e1e1e1;
			    border: 3px solid #fff;
			    box-shadow: 0 0 0 1px #E4DBDB, 0 0 0 1px #e1e1e1;
	    		&.vertical-top-l{
					top: 16%;
	    			left: 36%;
				}
				&.vertical-top-r{
				    top: 12%;
	    			left: 60%;
				}
				&.vertical-bottom-l{
					top: 73%;
	    			left: 36%;
				}
				&.vertical-bottom-r{
					top: 69%;
	    			left: 60%;
				}
				&.horizontal-top-l{
				    top: 23%;
	    			left: 15%;
				}
				&.horizontal-bottom-l{
					top: 38%;
	    			left: 15%;
				}
				&.horizontal-top-r{
					top: 16%;
	    			left: 81%;
				}
				&.horizontal-bottom-r{
				    top: 30%;
	    			left: 81%;
				}
    	}
    	#side-boxes {
    		left: 77%;
    		position: absolute;
    		z-index: 9;
    		transform: rotate(232deg);
    		top: 12%;
    		&.second {
			    top: 80%;
			    transform: rotate(45deg);
			    left: 10%;
			    .box-2 {
			    	-webkit-animation: blinking-boxes 5s infinite; /* Safari 4.0 - 8.0 */
    				animation: blinking-boxes 5s infinite;
			    }
			    .box-3 {
			    	-webkit-animation: blinking-boxes 3s infinite; /* Safari 4.0 - 8.0 */
    				animation: blinking-boxes 3s infinite;
			    }
    		}
    		&.third {
			    top: 12%;
			    transform: rotate(44deg);
			    left: 8%;
    		}
    		&.fourth {
			    top: 74%;
			    transform: rotate(45deg);
			    left: 79%;
				width: 24px;
    		}
    		.box-1 {
    			border: 1px solid #333;
    			width: 30px;
    			height: 25px;
    			display: inline-block;
    		}
    		.box-2 {
    			border: 1px solid #333;
    			width: 10px;
    			height: 40px;
    			display: inline-block;
    		}
    		.box-3 {
    			border: 1px solid #333;
    			width: 5px;
    			height: 40px;
    			display: inline-block;
    		}
    		.box-4 {
    			border: 1px solid #333;
    			width: 5px;
    			height: 40px;
    			display: inline-block;
    			position: absolute;
			    top: 13%;
			    left: -38%;
    		}
    		.box-5 {
    			border: 1px solid #333;
    			width: 5px;
    			height: 40px;
    			display: inline-block;
    			position: absolute;
			    top: 13%;
			    left: -38%;
    		}
    	}
	    .orange-main-circle {
	    	z-index: 10;
	    	left: 30%;
    		top: 5%;
		    position: absolute;
		    width: 125px;
		    height: 125px;
		    margin: 100px auto;
		    border-radius: 50%;
		    background-color: grey;
    		border: 16px solid white;
		    box-shadow: 0 0 0 1px #333, 0 0 0 30px #e0750f,0 0 0 31px #333;
	    	&.right {
	    		top: 5%;
    			left: 98%;
	    	}
	    	&.left {
	    		top: 5%;
    			left: -37%;
	    	}
	    	&.top {
	    		 top: -248px;
	    	}
	    	&.bottom {
	    		 top: 292px;
	    	}

	    	.orange-angled-blocks {
	    		.blocks {
	    			border-bottom: 50px solid #e0750f;
				    border-left: 10px solid transparent;
				    border-right: 10px solid transparent;
				    height: 0;
				    width: 15px;
				    &.top {
				        position: relative;
					    top: -28px;
					    left: 45px;
					    transform: rotate(180deg);
				    }
				    &.bottom {
				    	position: relative;
				    	top: -44px;
				    	left: 46px;
				    }
				    &.left {
				    	position: relative;
				        top: -10px;
    					left: -21px;
				    	transform: rotate(90deg);
				    }
				    &.right {
				        position: relative;
					    top: -60px;
					    left: 110px;
					    transform: rotate(-90deg);
				    }
	    		}
	    	}
	    	.grey-circle {
			    position: absolute;
			    left: -103px;
			    top: 53px;
			    z-index: 10;
			    width: 30px;
			    height: 30px;
			    margin: -15px 0 0 145px;
			    border-radius: 50%;
			    background-color: white;
			    border: 8px solid grey;
			    box-shadow: 0 0 0 1px #333, 0 0 0 7px white, 0 0 0 8px #333;
				-webkit-animation: blinking-body 3s infinite; /* Safari 4.0 - 8.0 */
    			animation: blinking-body 3s infinite;
			}
	    }
	}
	
}
